---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_CLIENT_ID>&client_secret=<AMADEUS_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      ama-gateway-request-id:
      - rrt-099b37d355f86c09e-b-eu-22910-22299869-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"<EMAIL>\",\n            \"application_name\": \"Breakable Toy\",\n            \"client_id\":
        \"<AMADEUS_CLIENT_ID>\",\n            \"token_type\": \"Bearer\",\n            \"access_token\":
        \"G2OoMCPmwJ2VgPKdBQtnDZ7KE2pR\",\n            \"expires_in\": 1799,\n            \"state\":
        \"approved\",\n            \"scope\": \"\"\n        }\n        "
  recorded_at: Sat, 09 May 2020 21:33:53 GMT
recorded_with: VCR 5.1.0
