---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/reference-data/locations?keyword=boston&page%5Blimit%5D=5&subType=AIRPORT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1ocQGi9O8tmdzWTE5ISjLCQKjaT9
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.amadeus+json
      ama-request-id:
      - 00016VTVEA2JOH
      ama-gateway-request-id:
      - rrt-0384ac56d6dee0778-a-eu-23043-18735528-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "meta": {
                "count": 4,
                "links": {
                    "self": "https://test.api.amadeus.com/v1/reference-data/locations?subType=AIRPORT&keyword=boston&page%5Blimit%5D=5"
                }
            },
            "data": [
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "EDWARD L LOGAN INTL",
                    "detailedName": "BOSTON/MA/US:EDWARD L LOGAN IN",
                    "id": "ABOS",
                    "self": {
                        "href": "https://test.api.amadeus.com/v1/reference-data/locations/ABOS",
                        "methods": [
                            "GET"
                        ]
                    },
                    "timeZoneOffset": "-04:00",
                    "iataCode": "BOS",
                    "geoCode": {
                        "latitude": 42.36514,
                        "longitude": -71.01777
                    },
                    "address": {
                        "cityName": "BOSTON",
                        "cityCode": "BOS",
                        "countryName": "UNITED STATES OF AMERICA",
                        "countryCode": "US",
                        "stateCode": "MA",
                        "regionCode": "NAMER"
                    },
                    "analytics": {
                        "travelers": {
                            "score": 23
                        }
                    }
                },
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "MANCHESTER BOSTON RGNL",
                    "detailedName": "MANCHESTER/NH/US:MANCHESTER BO",
                    "id": "AMHT",
                    "self": {
                        "href": "https://test.api.amadeus.com/v1/reference-data/locations/AMHT",
                        "methods": [
       [...]
