---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/reference-data/locations/airports?latitude=42.361145&longitude=-71.057083
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1ocQGi9O8tmdzWTE5ISjLCQKjaT9
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.amadeus+json
      ama-request-id:
      - 00016VTVBA2JOG
      ama-gateway-request-id:
      - rrt-0384ac56d6dee0778-a-eu-23044-18735453-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "meta": {
                "count": 47,
                "links": {
                    "self": "https://test.api.amadeus.com/v1/reference-data/locations/airports?latitude=42.361145&longitude=-71.057083",
                    "next": "https://test.api.amadeus.com/v1/reference-data/locations/airports?latitude=42.361145&longitude=-71.057083&page%5Boffset%5D=10",
                    "last": "https://test.api.amadeus.com/v1/reference-data/locations/airports?latitude=42.361145&longitude=-71.057083&page%5Boffset%5D=37"
                }
            },
            "data": [
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "EDWARD L LOGAN INTL",
                    "detailedName": "BOSTON/MA/US:EDWARD L LOGAN IN",
                    "timeZoneOffset": "-04:00",
                    "iataCode": "BOS",
                    "geoCode": {
                        "latitude": 42.36514,
                        "longitude": -71.01777
                    },
                    "address": {
                        "cityName": "BOSTON",
                        "cityCode": "BOS",
                        "countryName": "UNITED STATES OF AMERICA",
                        "countryCode": "US",
                        "stateCode": "MA",
                        "regionCode": "NAMER"
                    },
                    "distance": {
                        "value": 3,
                        "unit": "KM"
                    },
                    "analytics": {
                        "flights": {
                            "score": 29
                        },
                        "travelers": {
                            "score": 23
                        }
                    },
                    "relevance": 878.70715
                },
                {
                    "type": "location",
                    "subType": "AIRPORT",
                    "name": "JOHN F KENNEDY INTL",
                    "detailedName": "NEW YORK/NY/US:JOHN F KENNEDY",
                    "timeZoneOffset": "-04:00",
                    "iataCode": "JFK",
                    "geoCode": {
                        "latitude": 40.63983,
                        "longitude": -73.77874
                    },
              [...]
