---
http_interactions:
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&currencyCode=USD&departureDate=2020-08-01&destinationLocationCode=SEA&originLocationCode=BOS&returnDate=2020-08-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer G2OoMCPmwJ2VgPKdBQtnDZ7KE2pR
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.amadeus+json
      ama-internal-message-version:
      - '14.1'
      ama-request-id:
      - 00016WH53A339R
      ama-gateway-request-id:
      - rrt-0d9cc4777917d20f0-a-eu-23051-37237378-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 250,
            "links" : {
              "self" : "https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&currencyCode=USD&departureDate=2020-08-01&destinationLocationCode=SEA&originLocationCode=BOS&returnDate=2020-08-05"
            }
          },
          "data" : [ {
            "type" : "flight-offer",
            "id" : "1",
            "source" : "GDS",
            "instantTicketingRequired" : false,
            "nonHomogeneous" : false,
            "oneWay" : false,
            "lastTicketingDate" : "2020-05-10",
            "numberOfBookableSeats" : 9,
            "itineraries" : [ {
              "duration" : "PT6H16M",
              "segments" : [ {
                "departure" : {
                  "iataCode" : "BOS",
                  "terminal" : "C",
                  "at" : "2020-08-01T06:50:00"
                },
                "arrival" : {
                  "iataCode" : "SEA",
                  "at" : "2020-08-01T10:06:00"
                },
                "carrierCode" : "B6",
                "number" : "2397",
                "aircraft" : {
                  "code" : "32S"
                },
                "operating" : {
                  "carrierCode" : "B6"
                },
                "duration" : "PT6H16M",
                "id" : "19",
                "numberOfStops" : 0,
                "blacklistedInEU" : false
              } ]
            }, {
              "duration" : "PT5H16M",
              "segments" : [ {
                "departure" : {
                  "iataCode" : "SEA",
                  "at" : "2020-08-05T23:43:00"
                },
                "arrival" : {
                  "iataCode" : "BOS",
                  "terminal" : "C",
                  "at" : "2020-08-06T07:59:00"
                },
                "carrierCode" : "B6",
                "number" : "498",
                "aircraft" : {
                  "code" : "32S"
                },
                "operating" : {
                  "carrierCode" : "B6"
                },
                "duration" : "PT5H16M",
                "id" : "66",
                "numberOfStops" : 0,
                "blacklistedInEU" : false
              } ]
            } ],
            "price" : {
              "currency" : "USD",
              "total" : "256.20",
              "base" : "236.00",
              "fees" : [ {
                "amount" : "0.00",
                "type" : "SUPPLIER"
              }, {
                "amount" : "0.00",
                "type" : "TICKETING"
              } ],
              "grandTotal" : "256.20"
            },
            "pricingOptions" : {
              "fareType" : [ "PUBLISHED" ],
              "includedCheckedBagsOnly" : false
            },
            "validatingAirlineCodes" : [ "B6" ],
            "travelerPricings" : [ {
              "travelerId" : "1",
              "fareOption" : "STANDARD",
              "travelerType" : "ADULT",
              "price" : {
                "currency" : "USD",
                "total" : "256.20",
                "base" : "236.00"
              },
              "fareDetailsBySegment" : [ {
                "segmentId" : "19",
                "cabin" : "ECONOMY",
                "fareBasis" : "PI2QBOL1",
                "brandedFare" : "DN",
                "class" : "L",
                "includedCheckedBags" : {
                  "quantity" : 0
                }
              }, {
                "segmentId" : "66",
                "cabin" : "ECONOMY",
                "fareBasis" : "PI2QBOL1",
                "brandedFare" : "DN",
                "class" : "L",
                "includedCheckedBags" : {
                  "quantity" : 0
                }
              } ]
            } ]
          }, {
            "type" : "flight-offer",
            "id" : "2",
            "source" : "GDS",
            "instantTicketingRequired" : fa[...]
