<div class="welcome">
  <h1 class="cta-secondary">Welcome to <span class="brand">Where<span class="brand-middle">To</span>Next</span></h1>
  <h5 class="context">Where we help you answer the difficult question</h5>
  <h2 class="cta-primary"><%= link_to "Where do I travel to next?", listings_path, class: "button large expanded" %></h2>
</div>
