<div class="welcome">
  <h1 class="cta-secondary">Welcome to WhereToNext</h1>
  <h5>Where we help you answer the difficult question</h5>
  <h2 class="cta-primary"><%= link_to "Where do I travel to next?", new_user_session_path%></h2>
</div>
