:root {
  --dark-green: #114B5F;
  --green: #028090;
  --light-green: #E4FDE1;
  --blue: #456990;
  --red: #F45B69;
}

body {
  font-family: 'Questrial', sans-serif;
  color: var(--dark-green);
}

div {
  color: var(--dark-green);
}

h1, h2, h3, h5, h6 {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  color: var(--dark-green);
}

h1 a {
  color: var(--red);
}

.top-bar {
  background-color: var(--blue);
}

.top-bar-section li {
  background-color: var(--light-green);
}

.title {
  color: var(--red)
}

.callout {
  padding: 3rem;
  opacity: 0.9;
}

.callout-container {
  padding: 3rem;
  background-image: image-url("border.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  height: 650px;
}

.field {
  font-family: 'Questrial', sans-serif;
  color: var(--green);
}

.welcome {
  margin: auto;
  padding: 130px 50px 150px 50px;
  background-image: image-url("SplashPage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  height: 650px;
}

.page {
  background-image: image-url("reverse-border.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  min-height: 650px;
}

.cta-secondary {
  font-weight: 700;
}

.cta-primary {
  color: var(--red);
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 50px;
}

.form {
  margin: 2rem;
  background-color: rgba(255,255,255,0.8);
}

.instruction {
  color: var(--green);
  font-family: 'Syncopate', sans-serif;
  background-color: rgba(255,255,255,0.8);
}

.option {
  height: 250px;
  overflow: auto;
  background-color: rgba(255,255,255,0.8);
  padding-left: 2px;
}

.align-self-middle {
  height: 280px
}

a:hover {
  color: var(--green);
}

.flash {
  position: fixed;
}

.text {
  font-family: 'Questrial', sans-serif;
  color: var(--light-green);
}

.text-selected {
  font-family: 'Questrial', sans-serif;
  color: var(--red);
  cursor: pointer;
}

.green-box {
  background-color: var(--green);
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem;
  opacity: 0.9;
}

.header {
  color: white;
  border-bottom: 1px solid currentColor;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

i {
  margin: 5px;
}

.checkbox {
  display: inline-block;
  color: var(--green)
}

.checkbox-text {
  position: relative;
  bottom: 9px;
}

.text-center {
  margin-top: 50px;
  margin-bottom: 50px;
}

.brand {
  color: var(--green)
}

.brand-middle {
  color: #2599A6;
}

.brand-text {
  color: #F9929C;
}

.button.large.expanded {
  font-size: 90%;
  border-radius: 5px;
  width: 85%;
  margin: auto;
  opacity: 0.9;
}

.button.expanded {
  border-radius: 5px;
  opacity: 0.8;
}

.context {
  font-family: 'Questrial', sans-serif;
  font-size: 200%;
}

footer {
  background-color: var(--blue);
  padding-bottom: 5px;
  padding-top: 3px;
}

.footer {
  color: var(--light-green);
  font-family: 'Questrial', sans-serif;
  padding: 5px;
}

span .footer {
  display: inline;
}

.footer-link {
  color: red;
}

.spacer {
  margin-left: 15px;
  margin-right: 15px;
}

.footer-link {
  color: var(--light-green);
}

.fieldset {
  border-color: var(--green)
}

.travel {
  background-image: image-url("mint.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-spacer {
  padding-top: 2rem;
}

label {
  color: var(--dark-green)
}

.tile {
  margin: 0rem 1rem 1rem 1rem;
}

.button-text {
  color: var(--light-green);
}

.right {
  float: right;
}

.address {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color: var(--dark-green)
}

.listing {
  width: fit-content;
  margin: auto;
}
