:root {
  --dark-green: #114B5F;
  --green: #028090;
  --light-green: #E4FDE1;
  --blue: #456990;
  --red: #F45B69;
}

body {
  font-family: 'Questrial', sans-serif;
  color: var(--dark-green);
}

div {
  color: var(--dark-green);
}

h1, h2, h3, h5, h6 {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  color: var(--dark-green);
}

h1 a {
  color: var(--red);
}

.top-bar {
  background-color: var(--blue);
}

.top-bar-section li {
  background-color: var(--light-green);
}

.callout {
  margin: 3rem;
  padding: 3rem;
}

.field {
  font-family: 'Questrial', sans-serif;
  color: var(--green);
}

.welcome {
  margin: auto;
  padding: 130px 50px 150px 50px;
  background-image: image-url("herocropped.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

.cta-secondary {
  font-weight: 700;
}

.cta-primary {
  color: var(--red);
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 50px;
}

.form {
  padding: 2rem;
}

.instruction {
  color: var(--green);
  font-family: 'Syncopate', sans-serif;
}

.option {
  height: 250px;
  overflow: auto;
}

.align-self-middle {
  height: 280px
}

a:hover {
  color: var(--green);
}

.flash {
  position: fixed;
}

.text {
  font-family: 'Questrial', sans-serif;
  color: var(--light-green);
}

.text-selected {
  font-family: 'Questrial', sans-serif;
  color: var(--red);
}

.box {
  background-color: var(--green);
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem;
}

.header {
  color: white;
}

i {
  margin: 5px;
}

.checkbox {
  display: inline-block;
  color: var(--green)
}

.checkbox-text {
  position: relative;
  bottom: 9px;
}

.text-center {
  margin-top: 50px;
  margin-bottom: 50px;
}

.back {
  margin-left: 3rem;
}

.delete {
  float: right
}

.clear {
  clear: right;
}

.brand {
  color: var(--green)
}

.brand-middle {
  color: #2599A6;
}

.brand-text {
  color: #F9929C;
}

.button.large.expanded {
  font-size: 90%;
  border-radius: 5px;
  width: 85%;
  margin: auto;
  opacity: 0.8;
}

.context {
  font-family: 'Questrial', sans-serif;
  font-size: 200%;
}

footer {
  background-color: var(--blue);
  padding-bottom: 5px;
  padding-top: 3px;
}

.footer {
  color: var(--light-green);
  font-family: 'Questrial', sans-serif;
  padding: 5px;
}

span .footer {
  display: inline;
}

.footer-link {
  color: red;
}

.spacer {
  margin-left: 15px;
  margin-right: 15px;
}

.footer-link {
  color: var(--light-green);
}

.right {
  float: right;
}
